.register-container,
.login-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right top, #000000, #109bb4);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.register-container > .reg-content,
.login-container > .login-content {
  width: 30rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  background: #ddd;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  animation: formcontent 2s ease-in-out;
  transition: border 0.2s;
}
.register-container > .reg-content:hover,
.login-container > .login-content:hover {
  border: 1px solid orangered;
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem orangered;
}
@keyframes formcontent {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.login-container > .login-content {
  gap: 1rem;
  animation: loginform 3s ease-in-out;
}
@keyframes loginform {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.reg-content > h3,
.login-content > h3 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #000;
  text-shadow: -1px 2px 0px orangered;
  text-align: center;
  margin-bottom: 1rem;
}
.reg-content > form,
.login-content > form {
  width: 100%;
  height: 100%;
}

form > .mb-3 > input {
  outline: none;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  height: 2.5rem;
}
.login-content > form > .mb-3 > input {
  margin-bottom: 1.5rem;
}
form > .mb-3 > input:focus {
  border-bottom: 2px solid orangered;
}
form > .account {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
}
form > .account > a {
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: orangered;
  transition: 0.2s;
}
form > .account > a:hover {
  text-shadow: -1px -1px 0px #333;
}

.reg-content > form > button,
.login-content > form > button {
  background: rgb(253, 69, 2);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  float: right;
}
.reg-content > form > button:hover,
.login-content > form > button:hover {
  background: rgb(230, 63, 2);
}
.reg-content > form > button:active,
.login-content > form > button:active {
  transform: scale(0.98);
}
/*--------------------- Responsiveness----------------- */

@media (max-width: 450px) {
  .register-container > .reg-content,
  .login-container > .reg-content {
    width: 22rem;
    padding: 1rem 0.5rem;
  }
}
