.images > img {
  width: 32rem;
  height: 30rem;
}
.P-details > h1,
.s-details > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: orangered;
  text-shadow: -1px 1px 0px orange, -2px 2px 0px orangered;
}

/* Responsiveness */
@media (max-width: 600px) {
  .images > img {
    width: 21rem;
    height: 22rem;
    margin-bottom: 2rem;
  }
  .P-details > h1,
  .s-details > h1 {
    font-size: 2rem;
  }
}
